<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LogInandSupply">
  <test name="AdminLoginWithInvalid">
    <classes>
      <class name="driverFactory.DriverScript"/>
     </classes>
  </test> 
  <test name="CheckingAddingSuplier">
    <classes>
       <class name="driverFactory.AppTest"/>     
   </classes>
  </test> 
</suite> 






